* {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
text-decoration: none;
outline: 0;
}

body {
  background-color: black;
}

#board {
  position: relative;
  width: 80vw;
  height: 95vh;
  margin: auto;
  background-image: url("../img/board.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
