* {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
text-decoration: none;
/*outline: 0;*/
font-family : inherit;
}

body {
  background-color: black;
}

#board {
  position: relative;
  width: 1024px;
  height: 863px;;
  margin: auto;
  background-image: url("../img/board.jpg");
  background-repeat: no-repeat;
  /*background-position: center;
  background-size: contain;*/
}

table {
  position: absolute;
  left: 173px;
  top: 100px;
  border-spacing: 0px;
}

td {
  width: 92px;
  height: 92px;
  border: 2px solid rgb(152, 207, 113);
}

#messageArea {
  visibility: hidden;
  position: absolute;
  width: 330px;
  height: 50px;
  top: 20px;
  left: 515px;
  padding-top: 15px;
  font-size: 30px;
  text-align: center;
  color: white;
  display: inline-block;
  background: linear-gradient(to bottom, rgba(26,210,230,1) 25%, rgba(26,98,130,1) 80%, rgba(21,135,170,1) 100%);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 10px 5px green;
  border: 1px solid green;
}

form {
  position: absolute;
  top: 20px;
  left: 170px;
  padding: 15px;
  background: linear-gradient(to bottom, rgba(26,210,8,1) 15%, rgba(0,144,8,1) 80%, rgba(21,135,13,1) 100%);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 10px 5px green;
  border: 1px solid green;
}

form input {
  background-color: rgba(315,207,213,1)15%;
  border-color: rgb(83, 175, 19);
  border-radius: 5px 5px 5px 5px;
  font-size: 20px;
  padding: 5px;
  font-family: serif;
  color: darkred;
}

#fireButton {
  background: linear-gradient(to bottom, rgba(252,252,252,1) 15%, rgba(200,200,200,1) 80%, rgba(250,250,250,1) 100%);
  border: 1px solid green;
  margin-left: 5px;
  cursor: pointer;
}

#fireButton:active {
  background: linear-gradient(to bottom, rgba(200,200,200,1) 15%, rgba(252,252,252,1) 80%, rgba(250,250,250,1) 0%);
}

#guessInput {
  border: 1px solid green;
}

.hit {
  background-image: url("../img/ship.png");
  background-position: center;
  background-repeat: no-repeat;
}

.miss {
  background-image: url("../img/miss.png");
  background-position: center;
  background-repeat: no-repeat;
}
