* {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
text-decoration: none;
/*outline: 0;*/
}

body {
  background-color: black;
}

#board {
  position: relative;
  width: 1024px;
  height: 863px;;
  margin: auto;
  background-image: url("../img/board.jpg");
  background-repeat: no-repeat;
  /*background-position: center;
  background-size: contain;*/
}

table {
  position: absolute;
  left: 173px;
  top: 100px;
  border-spacing: 0px;
}

td {
  width: 92px;
  height: 92px;
  border: 2px solid rgb(152, 207, 113);
}

#messageArea {
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgb(83, 175, 19);
}

form {
  position: absolute;
  top: 20px;
  left: 170px;
  padding: 15px;
  background-color: rgb(83, 175, 19);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 10px 5px green;
  border: 2px solid green;
}

form input {
  background-color: rgb(152, 207, 113);
  border-color: rgb(83, 175, 19);
  border-radius: 10px 10px 10px 10px;
  font-size: 20px;
  padding: 5px;
  font-family: serif;
  color: darkred;
}
